---
// @version 1.0.0
// Main landing page for GrassRealms Minecraft Server
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Partners from '../components/Partners.astro';
import Features from '../components/Features.astro';
import GameModes from '../components/GameModes.astro';
import Community from '../components/Community.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <Partners />
    <Features />
    <GameModes />
    <Community />
    <CTA />
  </main>
  <Footer />
</Layout>
