---
// @version 2.0.0
// Minimalist landing page for GrassRealms Minecraft Server
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <main>
    <Hero />
    <Features />
    <CTA />
  </main>
  <Footer />
</Layout>
